{% extends '::base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            {% block jumbotron %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
